{% extends "basic/index.html" %}

{% block content %}
{% if post %}
    <table class="table table-dark table-striped">
      <thead>
        <tr>
          <th scope="col">id</th>
          <th scope="col">First name</th>
          <th scope="col">Last name</th>
          <th scope="col">Email</th>
          <th scope="col">Grade</th>
          <th scope="col">Age</th>
          <th scope="col">Birthday</th>
          <th scope="col">Group</th>
        </tr>
      </thead>
      <tbody>
      {% for student in post %}
        <tr>
          <th scope="row"><img height="50" width="50" src="{{ student.avatar.url }}" alt="avatar"></th>
          <td>{{ student.first_name }}</td>
          <td>{{ student.last_name }}</td>
          <td>{{ student.email }}</td>
          <td>{{ student.grade }}</td>
            {% if student.birthday %}
                <td>{{ student.age }}</td>
                <td>{{ student.birthday }}</td>
            {% else %}
                <td>Undefined</td>
                <td>Undefined</td>
            {% endif %}
          <td>{{ student.group }}</td>
        </tr>
      {% endfor %}
      </tbody>
    </table>
{% else %}
    <h1>Nothing find</h1>
{% endif %}

{% endblock %}