{% extends "basic/index.html" %}
{% load crispy_forms_tags %}

{% block content %}

<form method="POST" enctype="multipart/form-data">
    {% csrf_token %}
    {{ form|crispy }}
    <a href="{% url 'app:password_reset' %}"><i>Forgot Password?</i></a>
    <button type="submit" class="btn btn-primary" value="Login" >Login</button>
</form>

{% endblock content %}