{% extends "basic/../basic/index.html" %}

{% block content %}
<p><a class="btn btn-primary float-xl-start" href="{% url 'students:create_student' %}">Create</a></p>

<table class="table table-dark table-striped">
  <thead>
    <tr>
      <th scope="col">Avatar</th>
      <th scope="col">First name</th>
      <th scope="col">Last name</th>
      <th scope="col">Email</th>
      <th scope="col">Grade</th>
      <th scope="col">Age</th>
      <th scope="col">Birthday</th>
      <th scope="col">Group</th>
      <th scope="col">Edit</th>
      <th scope="col">Delete</th>
    </tr>
  </thead>
  <tbody>
  {% for student in students %}
    <tr>
      <th scope="row"><img height="50" width="50" src="{{ student.avatar.url }}" alt="No avatar"></th>
      <td>{{ student.first_name }}</td>
      <td>{{ student.last_name }}</td>
      <td>{{ student.email }}</td>
      <td>{{ student.grade }}</td>
        {% if student.birthday %}
            <td>{{ student.age }}</td>
            <td>{{ student.birthday }}</td>
        {% else %}
            <td>Undefined</td>
            <td>Undefined</td>
        {% endif %}
        <td>{{ student.group }}</td>
        <td><a type="button" class="btn btn-warning" href="{% url 'students:update_student' student.pk %}">Edit</a></td>
        <td><a type="button" class="btn btn-danger" href="{% url 'students:delete_student' student.pk %}">Delete</a></td>
    </tr>
  {% endfor %}
  </tbody>
</table>
{% endblock %}