{% extends "basic/../basic/index.html" %}

{% block content %}
<p><a class="btn btn-primary float-xl-start" href="{% url 'teachers:create_teacher' %}">Create</a></p>

<table class="table table-dark table-striped">
  <thead>
    <tr>
      <th scope="col">Avatar</th>
      <th scope="col">Full name</th>
      <th scope="col">Email</th>
      <th scope="col">Phone</th>
      <th scope="col">Address</th>
      <th scope="col">Groups</th>
      <th scope="col">Edit</th>
      <th scope="col">Delete</th>
    </tr>
  </thead>
{% for g in teacher.group.all %}
            <td>{{ g }}</td>
        {% endfor %}
  <tbody>
  {% for teacher in teachers %}
    <tr>
      <th scope="row"><img height="50" width="50" src="{{ teacher.avatar.url }}" alt="No image"></th>
      <td>{{ teacher.full_name }}</td>
      <td>{{ teacher.email }}</td>
      <td>{{ teacher.phone }}</td>
      <td>{{ teacher.address }}</td>
      <td>
          {% for g in teacher.group.all %}
              <a href="{% url 'groups:get_all_groups' %}">{{ g }}</a><br>
          {% endfor %}
      </td>
      <td><a type="button" class="btn btn-warning" href="{% url 'teachers:update_teacher' teacher.pk %}">Edit</a></td>
      <td>
          <form method="POST" action="{% url "teachers:delete_teacher" teacher.pk %}">
            {% csrf_token %}<input class="btn btn-danger" type="submit" value="Delete">
          </form>
      </td>
    </tr>
  {% endfor %}
  </tbody>
</table>
{% endblock %}