{% extends "basic/index.html" %}
{% load static %}

{% block content %}
    {% csrf_token %}
    <section class="h-100 gradient-custom-2">
  <div class="container py-5 h-100">
    <div class="row d-flex justify-content-center align-items-center h-100">
      <div class="col col-lg-9 col-xl-7">
        <div class="card">
          <div class="rounded-top text-white d-flex flex-row" style="background-color: #000; height:264px;">
            <div class="ms-4 mt-5 d-flex flex-column" style="width: 150px;">
                {% if user.profile.photo.url %}
                    <img height="50" width="50" src="{{ user.profile.photo.url }}"
                    alt="Generic placeholder image" class="img-fluid img-thumbnail mt-4 mb-2"
                    style="width: 150px; z-index: 1">
                    {% else %}
                    <img height="50" width="50" src="/media/media/img/profiles/default_user_icon.jpg"
                    alt="Generic placeholder image" class="img-fluid img-thumbnail mt-4 mb-2"
                    style="width: 150px; z-index: 1">
                {% endif %}
              <button type="button" class="btn btn-outline-dark" data-mdb-ripple-color="dark"
                style="z-index: 1;">
                Edit profile
              </button>
            </div>
            <div class="ms-3" style="margin-top: 130px;">
              <h5>{{ user.first_name }} {{ user.last_name }}</h5>
              <p>Location : {{ user.profile.location }}</p>
              <p>Gender : {{ user.profile.gender }}</p>
              <p>User type : {{ user.profile.type }}</p>
            </div>
          </div>
          <div class="p-4 text-black" style="background-color: #f8f9fa;">
            <div class="d-flex justify-content-end text-center py-1">
              <div>
                <p class="mb-1 h5">Phone number</p>
                <p class="small text-muted mb-0">{{ user.profile.phone_number }}</p>

                  <p class="mb-1 h5">Email</p>
                <p class="small text-muted mb-0">{{ user.email }}</p>
              </div>
            </div>
          </div>
          <div class="card-body p-4 text-black">
            <div class="mb-5">
              <p class="lead fw-normal mb-1">Biography</p>
              <div class="p-4" style="background-color: #f8f9fa;">
                <p class="font-italic mb-1">{{ user.profile.biography }}</p>
              </div>
            </div>
            </div>
          </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>
{% endblock %}