{% extends "basic/../basic/index.html" %}

{% block content %}
<p><a class="btn btn-primary float-xl-start" href="{% url 'groups:create_group' %}">Create</a></p>

<table class="table table-dark table-striped">
  <thead>
    <tr>
      <th scope="col">id</th>
      <th scope="col">Name</th>
      <th scope="col">Description</th>
      <th scope="col">About</th>
      <th scope="col">Logo</th>
      <th scope="col">Edit</th>
      <th scope="col">Delete</th>
    </tr>
  </thead>
  <tbody>
  {% for group in groups %}
    <tr>
      <th scope="row">{{ group.pk }}</th>
      <td>{{ group.name }}</td>
      <td>{{ group.description }}</td>
      <td>{{ group.about }}</td>
      {% if group.logo %}
        <td><img height="50" width="50" src="{{group.logo.url}}" alt="logo_group"></td>
      {% else %}
        <td>-</td>
      {% endif %}
      <td><a type="button" class="btn btn-warning" href="{% url 'groups:update_group' group.pk %}">Edit</a></td>
      <td>
          <form method="POST" action="{% url "groups:delete_group" group.pk %}">
            {% csrf_token %}<input class="btn btn-danger" type="submit" value="Delete">
          </form>
      </td>
    </tr>
  {% endfor %}
  </tbody>
</table>
{% endblock %}